<header class="main-header">

    <!-- Logo Start -->
    <div class="seipkon-logo">
        <a href="index.html">
            <img src="../../static/driverResources/image/logo.png" alt="logo">
        </a>
    </div>
    <!-- Logo End -->

    <!-- Header Top Start -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="header-top-section">
                <div class="pull-left">

                    <!-- Collapse Menu Btn Start -->
                    <button type="button" id="sidebarCollapse" class=" navbar-btn">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- Collapse Menu Btn End -->

                    <!-- Header Top Search Start -->
                    <!-- Header Top Search End -->

                </div>
                <div class="header-top-right-section pull-right">
                    <ul class="nav nav-pills nav-top navbar-right">

                        <!-- Full Screen Btn Start -->
                        <!-- Full Screen Btn End -->

                        <!-- Message Toggle Start -->
                        <!-- Message Toggle Start -->

                        <!-- Notification Toggle Start -->
                        <!-- Notification Toggle End -->

                        <!-- Profile Toggle Start -->
                       <li class="dropdown">
                            <a class="dropdown-toggle profile-toggle" href="#" data-toggle="dropdown">
                                <img src="../../static/driverResources/image/avatar.jpg" class="profile-avator"
                                     alt="driver profile"/>
                                <div class="profile-avatar-txt">
                                    <p>Jhon Doe</p>
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </a>
                            <div class="profile-box dropdown-menu animated bounceIn">
                                <ul>
                                    <li><a href="/admin/logoutSession"><i class="fa fa-power-off"></i> sign out</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

					   
                        <!-- Profile Toggle End -->

                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Header Top End -->

</header>