<aside class="seipkon-main-sidebar">
    <nav id="sidebar">
        <!-- Sidebar Profile Start -->
        <div class="sidebar-profile clearfix">
            <div class="profile-avatar">
                <img src="../../static/driverResources/image/avatar.jpg" alt="profile"/>
            </div>
            <div class="profile-info">
                <!-- <h3>Jhon Doe</h3> -->

                <p>Welcome Driver !</p>
            </div>
        </div>
        <!-- Sidebar Profile End -->

        <!-- Menu Section Start -->
        <div class="menu-section">
            <h3>General</h3>
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="/driver/loadDashboard">
                        <i class="fa fa-dashboard"></i>
                        Driver Dashboard
                    </a>
                </li>

                <!--       <li class="active">
                         <a href="driver/loadRegister">
                         <i class="fa fa-dashboard"></i>
                         Register
                         </a>
                      </li> -->
                <li>
                    <a href="#createpage" data-toggle="collapse" aria-expanded="false">
                        <i class="fa fa-file-text-o"></i>
                        Manage Vehicle
                    </a>
                    <ul class="collapse list-unstyled" id="createpage">
                        <li><a href="/driver/loadVehicle">Add Vehicle</a></li>
                        <li><a href="/driver/viewVehicle">View Vehicle</a></li>

                    </ul>

                </li>

                <li>
                    <a href="#charts" data-toggle="collapse" aria-expanded="false">
                        <i class="fa fa-th"></i>
                        Driver Journey
                    </a>
                    <ul class="collapse list-unstyled" id="charts">
                        <li><a href="/driver/loadDriverJourney">Add DriverJourney</a></li>
                        <li><a href="/driver/viewDriverJourney">View DriverJourney</a></li>
                    </ul>

                </li>

                <li>
                    <a href="#ecommerce" data-toggle="collapse" aria-expanded="false">
                        <i class="fa fa-shopping-cart"></i>
                        Manage Complain
                    </a>
                    <ul class="collapse list-unstyled" id="ecommerce">
                        <li><a href="/driver/loadComplain">Post Complain</a></li>
                        <li><a href="/driver/viewComplain">View Complain</a></li>
                    </ul>
                </li>


                <li>
                    <a href="#mails" data-toggle="collapse" aria-expanded="false">
                        <i class="fa fa-envelope"></i>
                        Manage Feedback
                    </a>
                    <ul class="collapse list-unstyled" id="mails">
                        <li><a href="/driver/loadFeedback">Post Feedback</a></li>
                        <li><a href="/driver/viewFeedback">View Feedback</a></li>

                    </ul>
                </li>

    </nav>
</aside>