<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Page || Conexi || Responsive HTML 5 Template</title>
    <link rel="apple-touch-icon" sizes="57x57" href="../../static/userResources/image/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../static/userResources/image/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../static/userResources/image/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../static/userResources/image/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../static/userResources/image/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../static/userResources/image/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../static/userResources/image/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../static/userResources/image/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../static/userResources/image/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../../static/userResources/image/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../static/userResources/image/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../../static/userResources/image/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../static/userResources/image/favicon-16x16.png">
    <link rel="manifest" href="images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="userResources/image/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../../static/userResources/css/style.css">
    <link rel="stylesheet" href="../../static/userResources/css/responsive.css">
</head>

<body>
<div class="preloader"></div><!-- /.preloader -->
<div class="page-wrapper">
    {% include 'user/header.html' %}
    <section class="inner-banner">
        <div class="container">
            <ul class="thm-breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><span class="sep">.</span></li>
                <li><span class="page-title">Contact</span></li>
            </ul><!-- /.thm-breadcrumb -->
            <h2>Contact</h2>
        </div><!-- /.container -->
    </section><!-- /.inner-banner -->
    <div class="contact-page-map-wrapper">
        <div class="google-map" id="contact-google-map" data-map-lat="40.712784" data-map-lng="-74.005941"
             data-icon-path="userResources/image/map-pin-1-1.png" data-map-title="Brooklyn, New York, United Kingdom"
             data-map-zoom="11" data-markers='{
                        "marker-1": [40.712784, -74.005941, "<h4>Main Office</h4><p>Babylon Branch , Lindenhurst, UK</p>"],
                        "marker-2": [40.728157, -74.077642, "<h4>Branch Office</h4> <p>291 Park Ave S, East Meadow, UK</p>"]
                    }'>
        </div>
        <div class="contact-info-block">
            <p>Contact with us On</p>

            <ul class="contact-infos">
                <li><i class="fa fa-envelope"></i>travelingservice1@gmail.com</li>

            </ul><!-- /.contact-infos -->
        </div><!-- /.contact-info-block -->
    </div><!-- /.contact-page-map-wrapper -->
    <section class="contact-form-style-one">
        {% include 'user/footer.html' %}<!-- /.container -->
    </section><!-- /.contact-form-style-one -->

</div><!-- /.page-wrapper -->
<a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>
<!-- /.scroll-to-top -->
<script src="../../static/userResources/js/jquery.js"></script>
<script src="../../static/userResources/js/bootstrap.bundle.min.js"></script>
<script src="../../static/userResources/js/owl.carousel.min.js"></script>
<script src="../../static/userResources/js/bootstrap-select.min.js"></script>
<script src="../../static/userResources/js/jquery.magnific-popup.min.js"></script>
<script src="../../static/userResources/js/waypoints.min.js"></script>
<script src="../../static/userResources/js/jquery.counterup.min.js"></script>
<script src="../../static/userResources/js/jquery.bxslider.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBk25E4mNfVIEt3tNl3K1HwNZVruVoFBlA"></script>
<script src="../../static/userResources/js/gmaps.js"></script>
<script src="../../static/userResources/js/map-helper.js"></script>
<script src="../../static/userResources/js/validate.js"></script>
<script src="../../static/userResources/js/theme.js"></script>
</body>

</html>