<footer class="site-footer">
    <img src="../../static/userResources/image/footer-bg-1-1.png" class="footer-bg" alt="Awesome Image"/>
    <div class="upper-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-widget about-widget">
                        <div class="widget-title">
                            <h3>About Website</h3>
                        </div><!-- /.widget-title -->
                        <p>Using this website you can book your ride for travell or transport from one
                            place to another</p></div><!-- /.footer-widget about-widget -->
                </div><!-- /.col-lg-3 -->
                

            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.upper-footer -->
    <div class="bottom-footer">
        <div class="container">
            <div class="inner-container">
                <div class="left-block">
                    <a href="index.html" class="footer-logo"></a>

                </div><!-- /.left-block -->
                <div class="right-block">
                    <ul class="link-lists">
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div><!-- /.right-block -->
            </div><!-- /.inner-container -->
        </div><!-- /.container -->
    </div><!-- /.bottom-footer -->
</footer><!-- /.site-footer -->
