<header class="site-header header-one">
    <div class="top-bar">
        <div class="container">
            <div class="left-block">
                <a href="/admin/logoutSession"><i class="fa fa-user-circle"></i>Sign out</a>

            </div><!-- /.left-block -->
            <div class="logo-block">

            </div><!-- /.logo-block -->
            <!-- /.social-block -->
        </div><!-- /.container -->
    </div><!-- /.top-bar -->
    {% include 'user/menu.html' %}

</header><!-- /.site-header header-one -->
