<nav class="navbar navbar-expand-lg navbar-light header-navigation stricky">
    <div class="container clearfix">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="logo-box clearfix">
            <button class="menu-toggler" data-target="#main-nav-bar">
                <span class="fa fa-bars"></span>
            </button>
        </div><!-- /.logo-box -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="main-navigation" id="main-nav-bar">
            <ul class="navigation-box">
                <li>
                    <a href="/user/loadDashboard">Home</a>
                </li>
                <li>
                    <a href="#">Manage UserJourney</a>
                    <ul class="sub-menu">
                        <li><a href="/user/loadUserJourney">Add UserJourney</a></li>
                        <li><a href="/user/viewUserJourney">View UserJourney</a></li>
                    </ul>

                <li>
                    <a href="#">Manage Feedback</a>
                    <ul class="sub-menu">
                        <li><a href="/user/loadFeedback">Post Feedback</a></li>
                        <li><a href="/user/viewFeedback">View Feedback</a></li>
                    </ul>

                </li>
                <li>
                    <a href="#">Manage Complain</a>
                    <ul class="sub-menu">
                        <li><a href="/user/loadComplain">Post Complain</a></li>
                        <li><a href="/user/viewComplain">View Complain</a></li>
                    </ul>
                </li>
                <li><a href="/user/loadContact">Contact</a></li>


            </ul>

        </div>
    </div>
    <!-- /.container -->
</nav>