<aside class="seipkon-main-sidebar">
    <nav id="sidebar">
        <!-- Sidebar Profile Start -->
        <div class="sidebar-profile clearfix">
            <div class="profile-avatar">
                <img src="../../static/adminResources/image/avatar.jpg" alt="profile"/>
            </div>
            <div class="profile-info">
                <!-- <h3>Jhon Doe</h3> -->
                <p>Welcome Admin !</p>
            </div>
        </div>
        <!-- Sidebar Profile End -->

        <!-- Menu Section Start -->
        <div class="menu-section">
            <h3>General</h3>
            <div class="list-unstyled components">
                <li class="active">
                    <a href="/admin/loadDashboard">
                        <i class="fa fa-dashboard"></i>
                        Admin Dashboard
                    </a>
                </li>


                <li class="active">
                    <a href="/admin/viewUser">
                        <i class="fa fa-dashboard"></i>
                        Manage User
                    </a>
                </li>

                <li class="active">
                    <a href="/admin/viewDriver">
                        <i class="fa fa-th"></i>
                        Manage Driver
                    </a>
                </li>


                <li>
                    <a href="#ecommerce" data-toggle="collapse" aria-expanded="false">
                        <i class="fa fa-shopping-cart"></i>
                        Manage State
                    </a>
                    <ul class="collapse list-unstyled" id="ecommerce">
                        <li><a href="/admin/loadState">Add State</a></li>
                        <li><a href="/admin/viewState">View State</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#createpage" data-toggle="collapse" aria-expanded="false">
                        <i class="fa fa-file-text-o"></i>
                        Manage City
                    </a>
                    <ul class="collapse list-unstyled" id="createpage">
                        <li><a href="/admin/loadCity">Add City</a></li>
                        <li><a href="/admin/viewCity">View City</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#mail" data-toggle="collapse" aria-expanded="false">
                        <i class="fa fa-envelope"></i>
                        Manage Sharing Type
                    </a>
                    <ul class="collapse list-unstyled" id="mail">
                        <li><a href="/admin/loadSharingType">Add Sharing Type</a></li>
                        <li><a href="/admin/viewSharingType">View Sharing Type </a></li>
                    </ul>
                </li>

                <li class="active">
                    <a href="/admin/viewComplain">
                        <i class="fa fa-laptop"></i>
                        Manage Complain
                    </a>

                </li>

                <li class="active">
                    <a href="/admin/viewFeedback">
                        <i class="fa fa-book"></i>
                        Manage Feedback
                    </a>
                </li>


            </div>

            <!-- Menu Section End -->

            <!-- Menu Section Start -->

    </nav>
</aside>