<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Seipkon is a Premium Quality Admin Site Responsive Template"/>
    <meta name="keywords"
          content="admin template, admin, admin dashboard, cms, Seipkon Admin, premium admin templates, responsive admin, panel, software, ui, web app, application"/>
    <meta name="author" content="Themescare">
    <!-- Title -->
    <title>Seipkon - Bootstrap Admin Template</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="../../static/adminResources/image/favicon-32x32.png">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="../../static/adminResources/css/animate.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../static/adminResources/css/bootstrap.min.css">
    <!-- Font awesome CSS -->
    <link rel="stylesheet" href="../../static/adminResources/css/font-awesome.min.css">
    <!-- Themify Icon CSS -->
    <link rel="stylesheet" href="../../static/adminResources/css/themify-icons.css">
    <!-- Perfect Scrollbar CSS -->
    <link rel="stylesheet" href="../../static/adminResources/css/perfect-scrollbar.min.css">
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="../../static/adminResources/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="../../static/adminResources/css/buttons.bootstrap.min.css">
    <link rel="stylesheet" href="../../static/adminResources/css/responsive.bootstrap.min.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="../../static/adminResources/css/seipkon.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../../static/adminResources/css/responsive.css">
</head>
<body>

<!-- Start Page Loading -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- End Page Loading -->

<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Main Header Start -->


    {% include 'admin/header.html' %}

    <!-- Main Header End -->

    <!-- Sidebar Start -->
    <aside class="seipkon-main-sidebar">
        <nav id="sidebar">

            <!-- Sidebar Profile Start -->
            <div class="sidebar-profile clearfix">
                <div class="profile-avatar">
                    <img src="../../static/adminResources/image/avatar.jpg" alt="profile"/>
                </div>
                <div class="profile-info">
                    <h3>Jhon Doe</h3>
                    <p>Welcome Admin !</p>
                </div>
            </div>
            <!-- Sidebar Profile End -->

            <!-- Menu Section Start -->
            {% include 'admin/menu.html' %}
            <!-- Menu Section End -->

            <!-- Menu Section Start -->

            <!-- Menu Section End -->

            <!-- Menu Section Start -->
            <!-- <div class="menu-section">
                <h3>Extra components</h3>
                <ul class="list-unstyled components">
                   <li>
                      <a href="#ex_components" data-toggle="collapse" aria-expanded="false">
                      <i class="fa fa-book"></i>
                      Additional Pages
                      </a>
                      <ul class="collapse list-unstyled" id="ex_components">
                         <li><a href="profile.html">profile page</a></li>
                         <li><a href="invoice.html">Invoice</a></li>
                         <li><a href="gallery.html">gallery</a></li>
                         <li><a href="blank.html">Blank</a></li>
                      </ul>
                   </li>
                   <li>
                      <a href="#ex_authentication" data-toggle="collapse" aria-expanded="false">
                      <i class="fa fa-unlock-alt"></i>
                      Authentication
                      </a>
                      <ul class="collapse list-unstyled" id="ex_authentication">
                         <li><a href="login.html">Login</a></li>
                         <li><a href="register.html">Register</a></li>
                         <li><a href="lockscreen.html">Lockscreen</a></li>
                         <li><a href="recover-pass.html">Recover password</a></li>
                      </ul>
                   </li>
                   <li>
                      <a href="#ex_error" data-toggle="collapse" aria-expanded="false">
                      <i class="fa fa-exclamation-circle"></i>
                      Error Pages
                      </a>
                      <ul class="collapse list-unstyled" id="ex_error">
                         <li><a href="error-404.html">404 Not Found</a></li>
                         <li><a href="error-505.html">505 Forbidden</a></li>
                         <li><a href="error-500.html">500 Internal Server</a></li>
                         <li><a href="error-503.html">503 Service Unavailable</a></li>
                      </ul>
                   </li>
                   <li>
                      <a href="#ex_multlable" data-toggle="collapse" aria-expanded="false">
                      <i class="fa fa-map-signs"></i>
                      Multilevel
                      </a>
                      <ul class="collapse list-unstyled" id="ex_multlable">
                         <li><a href="#">Level One</a></li>
                         <li>
                            <a href="#ex_multlable_2" data-toggle="collapse" aria-expanded="false">
                            Level One
                            </a>
                            <ul class="collapse list-unstyled" id="ex_multlable_2">
                               <li><a href="#">Level Two</a></li>
                               <li>
                                  <a href="#ex_multlable_3" data-toggle="collapse" aria-expanded="false">
                                  Level Two
                                  </a>
                                  <ul class="collapse list-unstyled" id="ex_multlable_3">
                                     <li><a href="#">Level Three</a></li>
                                     <li><a href="#">Level Three</a></li>
                                  </ul>
                               </li>
                            </ul>
                         </li>
                         <li><a href="#">Level One</a></li>
                      </ul>
                   </li>
                </ul>
             </div>
             <!-- Menu Section End -->

        </nav>
    </aside>
    <!-- End Sidebar -->

    <!-- Right Side Content Start -->
    <section id="content" class="seipkon-content-wrapper">
        <div class="page-content">
            <div class="container-fluid">

                <!-- Breadcromb Row Start -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcromb-area">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="seipkon-breadcromb-left">
                                        <h3>Manage Feedback</h3>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="seipkon-breadcromb-right">
                                        <ul>
                                            <li><a href="/admin/loadDashboard">Home</a></li>
                                            <li> Manage Feedback</li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Breadcromb Row -->

                <!-- Advance Table Row Start -->

                <!-- End Advance Table Row -->

                <!-- Advance Table Row Start -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-box">
                            <div class="datatables-example-heading">
                                <h4>Feedback details</h4>
                            </div>

                            <div class="table-responsive advance-table">
                                <table id="button_datatables_example"
                                       class="table display table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>User Name</th>
                                        <th> Feedback Subject</th>
                                        <th>Feedback Description</th>
                                        <th> Feedback Date</th>
                                        <th>Feedback Time</th>
                                        <th>Feedback Rating</th>
                                        <th>Action</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for row in feedbackVOList %}
                                        <tr>
                                            <td>{{ row[1]['loginUsername'] }}</td>
                                            <td>{{ row[0]['feedbackSubject'] }}</td>
                                            <td>{{ row[0]['feedbackDescription'] }}</td>
                                            <td>{{ row[0]['feedbackDate'] }}</td>
                                            <td>{{ row[0]['feedbackTime'] }}</td>
                                            <td> {% for row1 in range(row[0].feedbackRating|int) %}
                                                ★
                                            {% endfor %}


                                            </td>

                                            {% if row[0]['feedbackTo_LoginId']==None %}
                                                <td>
                                                    <a href="/admin/reviewFeedback?feedbackId={{ row[0]['feedbackId'] }}">Pending</a>
                                                </td>
                                            {% else %}
                                                <td> Reviewed
                                                <td/>
                                            {% endif %}
                                            </td>

                                        </tr>
                                    {% endfor %}


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'admin/footer.html' %}
                <!-- End Footer Area -->

    </section>
    <!-- End Right Side Content -->

</div>
<!-- End Wrapper -->


<!-- jQuery -->
<script src="../../static/adminResources/js/jquery-3.1.0.min.js"></script>
<!-- Bootstrap JS -->
<script src="../../static/adminResources/js/bootstrap.min.js"></script>
<!-- Datatables -->
<script src="../../static/adminResources/js/jquery.dataTables.min.js"></script>
<script src="../../static/adminResources/js/dataTables.bootstrap.min.js"></script>
<script src="../../static/adminResources/js/dataTables.buttons.min.js"></script>
<script src="../../static/adminResources/js/buttons.bootstrap.min.js"></script>
<script src="../../static/adminResources/js/buttons.flash.min.js"></script>
<script src="../../static/adminResources/js/buttons.html5.min.js"></script>
<script src="../../static/adminResources/js/buttons.print.min.js"></script>
<script src="../../static/adminResources/js/dataTables.responsive.min.js"></script>
<script src="../../static/adminResources/js/responsive.bootstrap.min.js"></script>
<script src="../../static/adminResources/js/jszip.min.js"></script>
<script src="../../static/adminResources/js/pdfmake.min.js"></script>
<script src="../../static/adminResources/js/vfs_fonts.js"></script>
<!-- Perfect Scrollbar JS -->
<script src="../../static/adminResources/js/jquery-perfect-scrollbar.min.js"></script>
<!-- Form Wizard Custom JS For Only This Page -->
<script src="../../static/adminResources/js/advance_table_custom.js"></script>
<!-- Custom JS -->
<script src="../../static/adminResources/js/seipkon.js"></script>
</body>
</html>